body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
#root {
  padding: 10px;
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  max-width: 770px;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .app {
    grid-template-columns: 100%;
    max-width: 100%;
  }
}