.reactJewishDatePicker {
  --color: #333;
  --backgroundColor: #e6e6e6;
  position: relative;
  display: grid;
  font-family: arial;
  margin-bottom: 5px;
  cursor: pointer;
}
.reactJewishDatePicker .selectedDate {
  padding: 2px 15px 2px 5px;
  border: 1px solid var(--color);
  border-radius: 4px;
  user-select: none;
  min-height: 20px;
  text-align: center;
  position: relative;
  font-size: smaller;
}
.reactJewishDatePicker .calendarIcon {
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 4px;
}
.reactJewishDatePicker .monthWrapper {
  position: absolute;
  top: 32px;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;
  transition: max-height 0.5s ease-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  transition: all 0.4s ease-in-out;
  width: 254px;
  height: 243px;
  border-radius: 5px;
}
.reactJewishDatePicker .monthWrapper.open {
  transform: scaleY(1);
}
.reactJewishDatePicker.isHebrew {
  direction: rtl;
}
.reactJewishDatePicker.isHebrew .startDay {
  background: cornflowerblue;
  border-radius: 0 7px 7px 0;
  color: #fff;
  margin: 1px 0;
}
.reactJewishDatePicker.isHebrew .endDay {
  background: cornflowerblue;
  border-radius: 7px 0 0 7px;
  color: #fff;
  margin: 1px 0;
}