.reactJewishDatePicker {
  --color: #333;
  --backgroundColor: #e6e6e6;

  position: relative;
  display: grid;
  font-family: arial;
  margin-bottom: 5px;
  cursor: pointer;

  .selectedDate, .selectedRange {
    padding: 2px 15px 2px 5px;
    border: 1px solid var(--color);
    border-radius: 4px;
    user-select: none;
    max-width: 125px;
    min-height: 20px;
    text-align: center;
    position: relative;
    font-size: smaller;
  }

  .selectedRange {
    max-width: 230px;
  }

  .calendarIcon {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 4px;
  }

  .monthWrapper {
    background-color: #fff;
    border: 1px solid #d6d9dd;
    border-radius: 5px;
    position: absolute;
    top: 32px;
    z-index: 1;
    display: grid;
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.26s ease;
    transition: max-height 0.5s ease-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    transition: all 0.4s ease-in-out;

    &.open {
      transform: scaleY(1);
    }
  }
  &.isHebrew {
    direction: rtl;
    .startDay {
      background: cornflowerblue;
      border-radius: 0 7px 7px 0;
      color: #fff;
      margin: 1px 0;
    }
  
    .endDay {
      background: cornflowerblue;
      border-radius: 7px 0 0 7px;
      color: #fff;
      margin: 1px 0;
    }
  }
  .navigation {
    display: grid;
    grid-template-columns: 22px 138px 22px;
    justify-content: space-between;
    height: 22px;
    padding: 5px;


    .arrowRight,
    .arrowLeft {
      display: grid;
      align-items: center;
      justify-content: center;

      span {
        border: solid black;
        border-width: 0 2px 2px 0;
        padding: 1px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        cursor: pointer;
        width: 6px;
        height: 6px;
      }
    }

    .arrowRight:hover,
    .arrowLeft:hover {
      background-color: var(--backgroundColor);
    }

    .arrowLeft {
      span {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }

    .monthYearSelection {
      display: grid;
      grid-template-columns: auto auto;

      select {
        border: 0px;
        outline: 0px;
      }

      select:hover {
        cursor: pointer;
        background-color: var(--backgroundColor);
      }

      option {
        background-color: #fff;
      }

      // option:hover {
      //   background-color: #fff;
      // }
    }
  }

  &.isHebrew {
    .navigation {
      .arrowLeft {
        span {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }

      .arrowRight {
        span {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }
  }

  .month {
    color: var(--color);
    grid-template-columns: repeat(7, 1fr);
    z-index: 2;
    background-color: white;
    display: grid;
    width: 250px;
    height: 180px;
    border-radius: 5px;
    padding: 2px;
  }

  .weekdayWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #001476;
    padding: 2px;
  }

  .weekday,
  .day {
    display: grid;
    margin: 1px;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 7px;
    cursor: pointer;
  }

  .day:hover {
    background-color: var(--backgroundColor);
  }

  .weekday {
    color: #fff;
    font-weight: bold;
  }

  .otherMonth {
    background: #fff;
    color: #777;
  }

  .selectedDay {
    background: cornflowerblue;
    color: #fff;
  }

  .startDay {
    background: cornflowerblue;
    border-radius: 7px 0 0 7px;
    color: #fff;
    margin: 1px 0;
  }

  .isInRange {
    background-color: rgb(145, 182, 250);
    color: #fff;
    border-radius: 0;
    margin: 1px 0;
  }

  .endDay {
    background: cornflowerblue;
    border-radius: 0 7px 7px 0;
    color: #fff;
    margin: 1px 0;
  }

  .startDay:hover, .isInRange:hover, .endDay:hover {
    background: cornflowerblue;
  }

  .noSelect {
    pointer-events: none;
    background-color: rgb(243, 243, 243);
  }
}
